<main class="container">
    <div class="innerContainer">
        <h1 class="innerContainer__header">EDIT DETAILS!</h1>

        <label class="innerContainer__label">Current password:</label>
        <input class="innerContainer__input" type="password" placeholder="Password">
        <label class="innerContainer__label">New email address:</label>
        <input class="innerContainer__input" type="email" placeholder="New email">
        <label class="innerContainer__label">New password:</label>
        <input class="innerContainer__input" type="password" placeholder="New password">
        <label class="innerContainer__label">Repeat new password:</label>
        <input class="innerContainer__input" type="password" placeholder="Repeat new password">
        <button class="innerContainer__button" type="submit">Save changes</button>
    </div>
</main>