<main class="container">
    <h1 class="container__title">MY ORDERS!</h1>

    <div class="innerContainer">
        <ng-container *ngFor="let product of getProduct()">
            <div class="productContainer">
                <span class="productContainer__title">{{ product.getTitle() }}</span>
                <img class="productContainer__image" src="{{ product.getImageFileName() }}">
                <button class="productContainer__button" [routerLink]="'/product/' + product.getId()">VIEW ORDER</button>
            </div>
        </ng-container>    
    </div>
</main>