<nav class="nav">
  <div class="innerNav">
    <a class="navLink" routerLink="/">Home</a>
    <div class="innerNav__divider">&nbsp;</div>
    <div class="linkContainer">
      <a
        class="navLink navLink--gender"
        [routerLink]="['/product-list']"
        [queryParams]="{ gender: 1 }">
        Men
      </a>
      <div class="linkCategories">
        <div class="linkCategoriesInner">
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 1 }">
            Jeans
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 2 }">
            Jackets
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 3 }">
            Coats
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 4 }">
            T-Shirts
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 5 }">
            Sneakers
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 1, category: 6 }">
            Hats
          </a>
        </div>
      </div>
    </div>
    <div class="innerNav__divider">&nbsp;</div>
    <div class="linkContainer">
      <a
        class="navLink navLink--gender"
        [routerLink]="['/product-list']"
        [queryParams]="{ gender: 2 }">
        Women
      </a>
      <div class="linkCategories">
        <div class="linkCategoriesInner">
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 1 }">
            Jeans
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 2 }">
            Jackets
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 3 }">
            Coats
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 4 }">
            T-Shirts
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 5 }">
            Sneakers
          </a>
          <a
            class="linkCategoriesInner__link"
            [routerLink]="['/product-list']"
            [queryParams]="{ gender: 2, category: 6 }">
            Hats
          </a>
        </div>
      </div>
    </div>
    <div class="innerNav__divider">&nbsp;</div>

    <input
      class="innerNav__searchInput"
      type="text"
      placeholder="Search for items, brands and whatever..."/>

    <div class="innerNavIconContainer">
      <svg class="icon" routerLink="/profile">
        <use xlink:href="assets/icons/main.svg#profile"></use>
      </svg>
      <div class="iconDropDown">
        <div class="iconDropDownHeader">
          <ng-container *ngIf="!getIsLoggedIn()">
            <a routerLink="/login" class="iconDropDownHeader__subscriptions">
              Sign in
            </a>
            <div class="iconDropDownHeader__divider">&nbsp;</div>
            <a routerLink="/register" class="iconDropDownHeader__subscriptions">
              Join
            </a>
          </ng-container>
          <ng-container *ngIf="getIsLoggedIn()">
            <a (click)="onLogout()" class="iconDropDownHeader__subscriptions">
              Log out
            </a>
          </ng-container>
        </div>
        <div class="iconDropDownMain">
          <a routerLink="/profile" class="iconDropDownMain__link">My account</a>
          <a routerLink="/shopping-bag" class="iconDropDownMain__link">
            My orders
          </a>
        </div>
      </div>
    </div>

    <div class="innerNav__divider innerNav__divider--withMargin"></div>

    <svg class="icon" routerLink="/shopping-bag">
      <use xlink:href="assets/icons/main.svg#bag"></use>
    </svg>
  </div>
</nav>
