@import '../../../../config.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    padding: map-get($sizes, minimal-padding);

    &__header {
        margin-bottom: 10px;
        font-size: 4rem;
        text-align: center;
    }
}

.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #808080;
    border-radius: 10px;

    .productInfo {
        display: flex;
        flex-direction: column;
        
            &__image {
                width: 200px;
                height: 200px;
            }

            &__title {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 500;
            }
    }

    .productDetails {
        display: flex;
        flex-direction: column;

        &__price {
            font-size: 1.8rem;
            font-weight: 500;
        }

        &__description {
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 10px;
        }

        &__productButton {
            transition: all .3s ease;
            padding: 6px;  
            margin-top: 25px; 
            color: #000;
            background-color: transparent;
            border: 2px solid #000;
            font-size: 1.7rem;
            font-weight: 500;
            box-shadow: 0px 3px 8px #0000003d;
    
            &:hover {
                color: #fff;
                background-color: #000;
            }
        }
    }
}
