<main class="container">
    <ng-container *ngFor="let product of getProduct()">
        <div class="productContainer">
            <div class="productInfo">
                <img class="productInfo__image" src="{{ product.getImageFileName() }}">
                <span class="productInfo__title">{{ product.getTitle() }}</span>
            </div>
            <div class="productDetails">
                <span class="productDetails__price">Price: {{ product.getPrice() }}$</span>
                <span class="productDetails__description">{{ product.getDescription() }}</span>
            </div>
        </div>
    </ng-container>    
    <div class="checkoutContainer">
        <span class="checkoutContainer__title">TOTAL</span>
        <span class="checkoutContainer__totalPrice">Sub-total - {{ getProductsSum() }}$</span>
        <button 
            *ngIf="!getOnCheckoutView()" 
            (click)="onCheckoutClick()" 
            class="checkoutContainer__button" 
            type="submit">
            CHECKOUT
        </button>
    </div>

    <app-checkout *ngIf="getOnCheckoutView()"></app-checkout>
</main>